## Challenge, Part 3

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [5]:
vacation_df.head()

   Unnamed: 0         City Country  Max Temp    Lat     Lon  Hotel Name
0           6  Kostomuksha      RU     57.87  64.57   30.58         NaN
1          19   Villablino      ES     75.99  42.94   -6.32         NaN
2          25   Butaritari      KI     79.23   3.07  172.79         NaN
3          39     Cidreira      BR     56.10 -30.18  -50.21         NaN
4          49       Camopi      GF     79.43   3.17  -52.32         NaN

In [6]:
# Add cities to a layer map.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lon"]]

In [7]:
#  Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Set points to calculate directions

vacation_start = vacation_df.loc[vacation_df["City"] == "Broome"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Freeport"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Albany"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Holden"]

In [9]:
# Set directions

start = vacation_start["Lat"].values[0], vacation_start["Lon"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lon"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lon"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lon"].values[0]

print(start)
print(end)
print(stop1)
print(stop2)

(42.25, -75.83)
(40.66, -73.58)
(42.6, -73.97)
(42.35, -71.86)

In [10]:
# Create figure
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Create data frame with the stops.

itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

itinerary_df

    Unnamed: 0      City Country  Max Temp    Lat    Lon  Hotel Name
24         251    Broome      US     77.00  42.25 -75.83         NaN
47         495  Freeport      US     82.00  40.66 -73.58         NaN
12         107    Albany      US     78.01  42.60 -73.97         NaN
50         540    Holden      US     78.01  42.35 -71.86         NaN

In [12]:
# Remove index.

itinerary_df.reset_index(drop=True)

   Unnamed: 0      City Country  Max Temp    Lat    Lon  Hotel Name
0         251    Broome      US     77.00  42.25 -75.83         NaN
1         495  Freeport      US     82.00  40.66 -73.58         NaN
2         107    Albany      US     78.01  42.60 -73.97         NaN
3         540    Holden      US     78.01  42.35 -71.86         NaN

In [13]:
# Add itinerary cities to a layer map.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lon"]]

In [14]:
#  Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))